@model Biblioteca.Models.LibroUsuario
@{
    ViewData["Title"] = "DevolverLibro";
}



<head>
    <meta name="viewport" content="width=device-width" />
    <title>DevolverLibro</title>
   
</head>
<body>
    <div class="row">
        <form asp-action="DevolverLibro" method="post">
            "@Html.DisplayFor(model => model.NombreLibro)"
            <div class="form-group">

                <input type="submit" value="DevolverLibro" class="btn btn-primary" />
            </div>
        </form>
        </div>
</body>

